@font-face {
  font-family: "Inika-Regular";
  src: url("/fonts/Inika-Regular.eot");
  src: local("☺"), url("/fonts/Inika-Regular.woff") format("woff"),
    url("fonts/Inika-Regular.ttf") format("truetype"),
    url("fonts/Inika-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inika-Bold";
  src: url("/fonts/Inika-Bold.eot");
  src: local("☺"), url("/fonts/Inika-Bold.woff") format("woff"),
    url("fonts/Inika-Bold.ttf") format("truetype"),
    url("fonts/Inika-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

.page {
  min-width: 1440px;
  margin: 0 auto;
  font-family: "Inika-Regular";
  font-style: normal;
  font-weight: 400;
}

.header {
  margin: 0 auto;
  height: 134px;
  background: #edf2ec;
}

.header-container {
  margin: 0 auto;
  display: flex;
  width: 1220px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 42px 109px 42px 111px;
}

.header-brend-logo {
  height: 21px;
}

.header-nav {}

.header-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 452px;
  height: 50px;
  justify-content: space-between;
}

.header-item {
  display: block;
  width: calc(1 / 5 * 100% - 5px);
}

.header-links:hover {
  display: block;
  color: #e06733;
  font-weight: 700;
  transition: 0.5ms;
  -webkit-transition: 0.5ms;
  -moz-transition: 0.5ms;
  -ms-transition: 0.5ms;
  -o-transition: 0.5ms;
}

.header-links {
  text-decoration: none;
  color: #010201;
  font-weight: 400;
  font-size: 16px;
  transition-duration: 1s;
}

.welcome-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.welcome {
  display: flex;
  height: 532px;
  background-color: #edf2ec;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  padding: 62px 224px 62.63px 109px;
}

.welcome-info {
  display: flex;
  flex-direction: column;
  width: 549px;
  height: 340px;
  padding: 98px 109px 94px 0;
  /*верх-право-низ-лево*/
}

.welcome-info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0;
}

.welcome-info span {
  color: #499a18;
}

.welcome-info p {
  font-style: normal;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.welcome-btm {
  width: 158px;
  height: 44px;
  background-color: transparent;
  border: 2px solid #e06733;
  border-radius: 10px;

  font-style: normal;
  font-size: 16px;
  color: #000000;
}

.about {
  display: flex;
  height: 666px;
  background-color: #ffffff;
}

.about-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.about-info {
  width: 605px;
  height: 350px;
  padding: 161px 153px 155px 109px;
}

.about-info h2 {
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 0 auto;
}

.about-info p {
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #636060;
  margin: 40px auto 0;
}

.about-info span {
  color: #e06733;
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding: 93px 109px 94px 0;
  /*верх-право-низ-лево*/
}

.about-houseplant {
  width: 464px;
  height: 479px;
}

.service {
  height: 1300px;
  background: #edf2ec;
}

.service-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.service-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1007px;
  height: 94px;
  padding: 40px 324px 0 109px;
  /*верх-право-низ-лево*/
  margin-bottom: 90px;
}

.service-content h2 {
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 0;
  padding-right: 133px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-btm {
  width: 161px;
  height: 50px;
}

.service-content button {
  width: 161px;
  height: 50px;
  margin-left: 46px;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: transparent;
  color: #e06733;
}

.service-cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 55px;
  width: 1220px;
  margin: auto;
}

.service-cart-img {
  width: 330px;
  height: 450px;
  border-style: solid;
  border-color: #e3e1d5;
  border-width: 1px;
  border-radius: 20px;
}

.service-cart-img p {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.service-cart-text {
  margin: 0;
  text-align: center;
  color: #e06733;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.prices {
  height: 560px;
  background-color: #ffffff;
  padding-top: 40px;
}

.prices-content {
  max-width: 1222px;
  height: 405px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.prices-item {
  width: 332px;
}

.prices-content h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0;
}

.acor-container {
  min-height: 282.01px;
  width: 332px;
  margin-top: 60px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.acor-container .acor-body {
  width: 250px;
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background-color: #d6e7d2;
  border-radius: 0 0 20px 20px;
  line-height: 18px;
  padding: 0 30px;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}

.acor-container .acor-body p {
  margin: 0 0 10px;
}

.acor-container label {
  cursor: pointer;
  background-color: #edf2ec;
  display: block;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  margin: 34px auto 0;
  width: 250px;
  background: #edf2ec;
  border-radius: 20px;
}

.acor-container input {
  display: none;
}

.acor-container label:before {
  content: url("../image/accordion_btn.png");
  float: right;
}

.acor-container input:checked+label:before {
  transition: transform 0.5s;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.acor-container input:checked+label+.acor-body {
  height: auto;
  margin-top: -5px;
  color: #000;
  padding: 20px 30px 10px;
}

.prices-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prices-text h2 {
  width: 452px;
  height: 191.01px;
  text-align: right;
}

.prices-text span {
  color: #499a18;
}

.prices-text button {
  width: 162px;
  height: 50px;
  margin-bottom: 38px;
  justify-content: flex-end;
}

.prices-btn {
  background-color: #ffffff;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
}

.contact {
  height: 550px;
  background-color: #edf2ec;
}

.contact-content {
  max-width: 1440px;
  height: 550px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.contact-content img {
  width: 400px;
  height: 496.99px;
  margin-left: 109px;
  margin-top: 53px;
}

.contact-content h2 {
  width: 195px;
  height: 51px;
  margin-left: 113px;
  margin-top: 60px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}



.dcontact-btn {
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  width: 450px;
  height: 50px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  padding-left: 35px;
  letter-spacing: 0.05em;
  color: #717171;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-top: 148px;
  margin-left: 64px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  min-width: 450px;
  height: 234px;
  z-index: 1;
}

.dropdown-content a {
  color: #499A18;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  width: 380px;
  height: 35px;
  margin: 0 auto;
  border-bottom: 1px solid #D9D9D9;
  padding-top: 16px;

  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  margin: 0 auto;
  max-width: 1440px;
  height: 130px;
  background: #FFFFFF;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1222px;
  height: 50px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-author {
  height: 50px;
  width: 182px;
  text-align: center;

}

.footer-author span {
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.footer-author span:first-child {
  padding-left: 0;
}

.footer-text {
  display: flex;
  align-items: center;
}

.footer-text p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list a {
  margin-left: 20px;
}

.footer-list a:first-child {
  margin-left: 0;
}